<%= render 'welcome' %>

<h3>Edisi Kindle</h3>

<div>
  Edisi Kindle dari Panduan Rails dianggap sebagai pekerjaan yang sedang berjalan. Feedback sangat diterima. Silakan lihat instruksi bagian "Umpan Balik" di akhir setiap panduan.
</div>
