<p>Karya ini berada dibawah lisensi <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a></p>
<p>"Rails", "Ruby on Rails", dan logo Rails adalah merek dagang David Heinemeier Hansson. Dilindungi hak cipta.</p>
